@inherits Octgn.Client.WebViewBase<dynamic>
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - OCTGN</title>
    <script src="@Url.Content("~/Scripts/jquery-2.1.4.min.js")"></script>
    <script src="@Url.Content("~/Scripts/json2.min.js")"></script>
    <script src="@Url.Content("~/Scripts/knockout-3.4.0.debug.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.signalR-2.2.0.min.js")"></script>
    <script src="@Url.Content("~/Scripts/alertify.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.customDialog.js")"></script>
    <script src="http://localhost:@(ViewBag.SignalRPort)/signalr/hubs"></script>

    <link rel="stylesheet" href="@Url.Content("~/Content/Main.css")"/>
    <link rel="stylesheet" href="@Url.Content("~/Content/alertifyjs/alertify.min.css")"/>
    <link rel="stylesheet" href="@Url.Content("~/Content/alertifyjs/themes/default.min.css")"/>
</head>
<body style="margin:0px">
    <div>@RT("_Layout_ConnectionStatus"): <span id="IsConnected">@RT("_Layout_NotConnected")</span>&nbsp;|&nbsp;
        <span id="HostGame_Link_ShowDialog" class="link">@RT("_Layout_HostGame")</span>
    </div>
    @Html.Partial("Shared/_PartialHostGame.cshtml")
    @Html.Partial("Shared/_PartialJoinGame.cshtml")
    @RenderBody()
    <script type="text/javascript">
        var gSignalRPort = @ViewBag.SignalRPort;
        var gHub;
        function onDisconnected(){
            console.log("disconnected");
            $("#IsConnected").html("@RT("_Layout_Disconnected")");

            $('#PingClient').off('click');
            $('#HostGame_Button_Host').off('click');
        }
        function onConnected(){
            console.log("connected");
            $("#IsConnected").html("@RT("_Layout_Connected")");

            $('#PingClient').on('click', function () {
                gHub.server.pingClient();
            });
            $('#HostGame_Button_Host').on('click', function(){
                var button = $(this);
                button.prop('disabled', true);
                gHub.server.hostGame($('#HostGame_Input_Username').val())
                .done( function(returnVal) {
                    console.log(returnVal);
                }).always( function() { 
                    button.prop('disabled', false);
                }).fail(function(error) { 
                    if (error.source === 'HubException') {
                        alertify.alert("@RT("_Layout_HostGame")", error.message);
                    } else{
                        alertify.alert("@RT("_Layout_HostGame")", "@RT("_Layout_UnknownHostingError")");
                    }
                });
            });
        }
        function setupSignalr(){
            // Declare a proxy to reference the hub.
            gHub = $.connection.mainHub;

            //Set the hubs URL for the connection
            $.connection.hub.url = "http://localhost:" + gSignalRPort + "/signalr";

            // Create a function that the hub can call to broadcast messages.
            gHub.client.ping = function () {
                alert("ping");
            };
            
            // Start the connection.
            $.connection.hub.start().done(function () {
                $.connection.hub.connectionSlow(function () {
                });
                $.connection.hub.reconnecting(function () {
                    $("#IsConnected").html("@RT("_Layout_Reconnecting")");
                });
                $.connection.hub.reconnected(function () {
                    onConnected();
                });

                $.connection.hub.disconnected(function () {
                    setTimeout(function () {
                        $.connection.hub.start();
                    }, 5000); // Restart connection after 5 seconds.
                    onDisconnected();
                });
                onConnected();
            });
        }
        $(function () {
            setupSignalr();
        });
    </script>
</body>
</html>
